/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 oct. 2015, 20:55:23
    Author     : bala
*/


body{
    background-image: url("../img/images/fond.jpg");
    background-size: cover;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Arvo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: normal;
  color:white;
  text-rendering: optimizelegibility;
}

h1 {
    color: #4E443C;
    font-size: 36px;
    font-weight: bold;
}

h2, h2 a {
    color: #F14E32;
}

h3, h3 a {
  color: #0388A6;
}

a {
  color: #0388A6;
}

pre {
  border:1px solid #000;
  overflow-x:auto;
  background: #222;
  color: #fff;
  text-shadow: none;
}

.wrapper {
    width:50%;
    padding: 0 20px 40px 20px;   
    //border-style:solid;
    float:left;    
}


iframe{
    //border-style:solid;    
    padding-top: 150px;
    border:none;
}